    <h1>Proyecto de Kermit de Frog</h1>
    <img src="http://www.disneypictures.net/data/media/209/kermit_the_frog.jpg" alt="Image Kermit" height="64" width="64">
    <p><iframe width="240" height="180"
      src="http://www.youtube.com/embed/8N_tupPBtWQ?autoplay=1">
    </iframe></p>
